* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #121212;
}
@tailwind utilities;
@import "tailwindcss";

@theme {
  --color-yellowgreen: #d7fa00;
  --color-ligray: rgb(160, 160, 160);
}
